spring:
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-description: Flyway Scripts
    locations: classpath:/db.migration
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    url: ${spring.datasource.url}
    default-schema: cinema
    out-of-order: true
    ignore-migration-patterns: '*:ignored'
    #schemas: cinema
  datasource:
    hikari:
      jdbc-url: "jdbc:postgresql://localhost:5432/cinema"
      maximum-pool-size: 10
      driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
    url: "jdbc:postgresql://localhost:5432/cinema"

server:
  port: 8083

---

jwt:
  secret: qwepuisdhfaksdjflsdfn12321___**
  expiration: 600000